.sh--login-container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;

  .sh--login-wrapper {
    max-width: 600px;
    padding: 0 20px;
    width: 100%;

    .sh--login-box {
      align-items: center;
      backdrop-filter: blur(15px);
      background-color: rgb(0 0 0 / 70%);
      border-radius: 4px;
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      flex-direction: column;
      gap: 10px;
      max-width: 450px;
      min-height: 300px;
      margin: 0 auto;
      padding: 30px 50px;

      h1 {
        margin-bottom: 30px;
      }

      input {
        background-color: #ffffff75;
        border: none;
        color: #000;
        padding: 5px 15px;
        text-align: center;
        width: 100%;

        &::placeholder {
          color: #363636;
        }

        &:focus {
          border: none;
          outline: auto #cba300;
        }
      }

      button {
        border: none;
        color: #000;
        font-weight: 700;
        padding: 8px 0;
        text-transform: uppercase;
        transition: .3s ease-in-out;
        width: 100%;

        &:hover {
          box-shadow: 0px 0px 13px 2px #cba3007d;
          letter-spacing: 2px;
          user-select: none;
        }

        &:disabled {
          opacity: .3;
        }
      }
    }
  }
}
