/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");

* {
  color: #fff;
  font-family: "Jura", sans-serif;
}

body {
  backdrop-filter: brightness(0.35);
  background-attachment: fixed;
  background-image: url('assets/background/main-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.sh--loader-wrapper {
  height: 100%;
  position: relative;
  width: 100%;

  .loader-container {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 370px;

    .loader {
      height: 130px;
      width: 130px;
    }
  }
}
