/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");

* {
  color: #fff;
  font-family: "Jura", sans-serif;
}

body {
  background-attachment: fixed;
  background-image: url('assets/background/main-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
