<div class="sh--container">
  <div class="sh--container-wrapper">
    <div class="sh--logout" (click)="logout()" (keypress)="null">
      <img src="assets/svg/escape.svg" alt="LogOut">
    </div>
    <h1>BattleVerse</h1>

    <div class="row justify-content-center">
      <div class="col-12 col-sm-6">
        <div class="sh--searcher">
          <input
            type="search"
            placeholder="Search for superhero or villain..."
            [(ngModel)]="superhero"
            (ngModelChange)="filterSuperheroes()"
            list="superheroes-list"
          />

          @if (superheroesFiltered && superheroesFiltered.length) {
          <div class="sh--superheroes-filtered-list">
            @for (item of superheroesFiltered; track $index) {
            <span (click)="selectSuperhero(item)" (keypress)="(null)">{{
              item.name
            }}</span>
            }
          </div>
          }
        </div>
      </div>
    </div>

    <div class="sh--info-wrapper">
      @if (isLoading) {
      <div class="sh--loader-wrapper">
        <loader></loader>
      </div>
      } @else { @if (superheroInfo) {
      <section-info [superheroInfo]="superheroInfo"></section-info>

      <div class="sh--button-select-wrapper">
        <button
          class="sh--button-select"
          (click)="chooseSuperheroForBattle(superheroInfo)"
          [disabled]="superheroesForBattle.length === 2"
        >
          Choose for battle
        </button>
        <small>{{ notification }}</small>
      </div>
      } }
    </div>

    <div class="sh--battle-container">
      @if (superheroesForBattle && superheroesForBattle.length) {
      <section-battle
        [superheroesForBattle]="superheroesForBattle"
      ></section-battle>
      }
    </div>
  </div>
</div>
