.sh--container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 40px 0;

  .sh--container-wrapper {
    max-width: 1080px;
    width: 100%;

    .sh--logout {
      cursor: pointer;
      text-align: right;

      img {
        filter: invert(1);
        width: 30px;
      }
    }

    h1 {
      text-align: center;
    }

    .sh--searcher {
      position: relative;

      input {
        background-color: #00000000;
        border: none;
        border-bottom: 2px solid #ccc;
        margin-top: 20px;
        padding: 10px 10px;
        width: 100%;

        &::placeholder {
          color: #fff;
        }

        &:focus {
          outline: none;
        }
      }

      .sh--superheroes-filtered-list {
        background-color: #00000078;
        backdrop-filter: blur(10px);
        max-height: 150px;
        overflow-y: scroll;
        padding: 10px 0px;
        position: absolute;
        width: 100%;
        z-index: 9;

        span {
          cursor: pointer;
          display: block;
          padding: 2px 10px;
        }
      }
    }

    .sh--info-wrapper {
      margin: 60px 0;
      min-height: 694px;

      .sh--button-select-wrapper {
        display: flex;
        flex-direction: column;
        margin: 30px 0;

        .sh--button-select {
          background-color: #3c0000;
          border: none;
          border-radius: 4px;
          padding: 10px 20px;
          margin: 0 auto;
          min-width: 250px;
          transition: 0.3s ease-in-out;

          &:disabled {
            opacity: 0.3;
          }
        }

        small {
          margin-top: 2px;
          text-align: center;
        }
      }
    }

    .sh--battle-container {
      content: "";
    }
  }
}
