<div class="sh-container">
  <div class="sh-container-wrapper">
    <h1>HOME</h1>

    <div class="row justify-content-center">
      <div class="col-6">
        <div class="sh--searcher">
          <input type="search" placeholder="Buscar superhéroe o villano... " [(ngModel)]="superhero" (ngModelChange)="filterSuperheroes()" list="superheroes-list">

          @for (item of superheroesFiltered; track $index) {}

          <!-- <datalist id="superheroes-list">
            <option [value]="item.name" *ngFor="let item of superheroesFiltered">
            </option>
          </datalist> -->
        </div>
      </div>
    </div>

  </div>
</div>
