<div class="sh--container">
  <div class="sh--container-wrapper">
    <h1>SuperheroGram</h1>

    <div class="row justify-content-center">
      <div class="col-6">
        <div class="sh--searcher">
          <input
            type="search"
            placeholder="Buscar superhéroe o villano... "
            [(ngModel)]="superhero"
            (ngModelChange)="filterSuperheroes()"
            list="superheroes-list"
          />

          @if (superheroesFiltered && superheroesFiltered.length) {
          <div class="sh--superheroes-filtered-list">
            @for (item of superheroesFiltered; track $index) {
            <span (click)="selectSuperhero(item)" (keypress)="(null)">{{
              item.name
            }}</span>
            }
          </div>
          }
        </div>
      </div>
    </div>

    @if (superheroInfo) {
      <section-info
        [superheroInfo]="superheroInfo"></section-info>
    }
  </div>
</div>
